$blue: #0073b7 !default;
$lightblue: #3c8dbc !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$orange: #ff851b !default;
$fuchsia: #f012be !default;
$purple:#605ca8 !default;
$maroon: #d81b60 !default;
$black: #111 !default;
$gray-x-light: #d2d6de !default;
$base_bg_color:#a7a9ac !default;
$base_txt_color:#fff !default;
$primary_bg_color: #1b447d !default; //#1b447d !default; //#1b447d !default;
$primary_txt_color: #1b447d !default;
$primary_heading_color: #1b447d !default;
$primary_hover_bg_color:indianred !default;
$primary_txt_color:#111010 !default;
$primary_active_color:#166fec!default;
$primary_selected_color:#06b906!default;
$primary_selected_bg:#63c379 !default;
$secondary_bg_color:#3b495f !default;
$bg_warning: $orange !default;
$bg_danger:$maroon !default;
$bg_notifiaction:$teal !default;
$bg_dolist:#1b447d !default;
$bg_alerts:#1b447d !default;
$globalborder_color:#dddddd !default;
$formpage_bg:#ffffff !default;
$tab_bg:#f0f4f7 !default;
$tabactive_bg:#ffffff !default;
$tabactive_color:#0062cc !default;
$tabhover_bg:#ffffff !default;
$tabcontent_bg:#ffffff !default;
//Grouping block , wraper inside form
$gblock_bg: #ffffff !default; // #f0f4f7
$gwraper_bg: #ffffff !default;
$gblock_bg: transparent !default;
$gblock_caption_color: #0f53b1 !default;
$gblock_caption_bg: transparent !default;
$gblock_bordercolor: transparent !default;
$gwraper_color:#843e2f !default;
$gwraper_bordercolor:transparent !default;
$primarypnl_bg:#f0f4f7 !default;
//ESAT Controls
$mandatory_indicator:crimson !default;
$label_bg:$primary_bg_color !default;
$label_color:#ffffff !default;
$control_bg: #ffffff !default;