<div class="row" style="align-items: center;">
   
    <div style="display: flex;flex-direction: column;" class="col-3">
        <div style="display: flex;align-items: center;padding: 0;margin: 8px;" 
        class="form-control ">
            <input style="width: 100%; z-index: 1;background-color: transparent !important;font-size: 14pt;cursor:pointer;border: none;" id='a1' type="text"
                   placeholder="Enter Value"
                   class="form-control calendarInput"
                   [(ngModel)]="EnteredValue" >
          </div>
    </div>
<div class="col-3">
<button class="btn btn-primary" (click)="searchbutton()">Search</button>
<button class="btn btn-primary" (click)="refersh()">Refersh</button>
</div>

</div>
          
          
          <div class="ed_table_Panel">
                <div class="" style="padding: 8px;">                       
                      <div id ="demo-companies"  *ngIf="ColumDef.length > 0 ">
                        <angular-slickgrid [gridId]="rgrididname"
                        (onAngularGridCreated)="angularGridReady($event)"
                        [columnDefinitions]="ColumDef"
                        [gridOptions]="r_gridOptions"
                        [dataset]="dataset"
                        (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)" >
                        </angular-slickgrid>                  
                    </div>
                 </div> 
            </div>

            <half-modal id="ConfirmationModal" [cssStyles]=" '55vw' ">
                <div class="row nomargin headerpopup" >
                    <label class="popupheadtitle">Are you Sure Want To Delete?</label>
                    <button class="closebtn" (click)="closehalfModal('newform-modal')"><span class="fa fa-times"></span></button> 
                </div>
        
        <div style="    display: flex;flex-wrap: wrap;justify-content: space-between;">
            <div style="display: flex;align-items: center;justify-content: center;padding: 2vh;">
                <button style="margin: 0 1vh;" class="btn btn-primary AJX_ButtonClass" (click)="deletebtn()">Save</button>
                <button style="margin: 0 1vh;" class="btn btn-primary AJX_ButtonClass" (click)="CancelBtnClicked('ConfirmationModal')">Cancel</button>

        </div>

        </div>
            </half-modal>